/* GENERICS */
body {
    font-family: 'Open Sans' , sans-serif;
}

.btn {
    padding: .4rem;
    border: none;
    cursor: pointer;
    text-align: center;
}

.btn.blue-btn {
    background-color: #005bff;
    color: #fff;
}

.btn.outlined-btn {
    color: inherit;
    border: 1px solid black;
}

strong {
    font-weight: bold;
}


h3 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1rem 0;
}

/* HEADER */
.header-nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3b3b3b;
}

.header-nav a {
    text-decoration: none;
    color: inherit;
}

.nav-col {
    display: flex;
    align-items: center;
}

.right.nav-col {
    justify-content: flex-end;
}

.header-nav ul > li {
    display: inline-block;
    margin: 0 .8rem;
}

.left.nav-col > img {
    margin: 0 .6rem 0 .8rem;
}

.jumbotron {
    background-color: #b4d0e7;
    padding: 2rem;
    margin-bottom: 3rem;
}

.jumbotron > .big-container {
    height: 38rem; 
}

.jumbotron h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 1.5rem 0;
}

.jumbotron-bottom {
    display: flex;
}

.jumbotron-bottom > .jumbotron-small-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    max-width: 15rem;
}

.jumbotron-bottom p,
.jumbotron-bottom span {
    font-size: .8rem;
}

.jumbotron-bottom .jumbotron-small-col > a {
    font-size: 2.5rem;
    position: relative;
    top: 8rem;
    color: black;
}

/* MAIN */

/* Section 1 */
section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

.subscription.small-container {
    padding: 3rem 0;
}

.subscription .payment {
    display: inline-block;
    color: #3b3b3b;
    margin: 1rem 2rem 2rem 0;
}

.circle {
    display: inline-block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    cursor: pointer;
}

.unclicked.circle {
    border: 2px solid lightgray;
}

.clicked.circle {
    border: 4px solid #005bff;
}

.row {
    display: flex;
}

.subscription.row {
    justify-content: space-between;
}

.subscription-col {
    width: 30%;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

.subscription-col-title {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.subscription-col-content {
    display: flex;
    flex-direction: column;
    padding: 3rem .8rem;
    gap: 1rem;
}

.light-text {
    color: lightgray;
}

.subscription-col ul {
    list-style-type: none;
}

.subscription-col ul > li {
    padding: .4rem 0;
}

.subscription-col .btn {
    margin: 1rem 2rem;
}

/* ALLINEO BOTTONI */

#single-btn {
    margin-top: 3.8rem;
}

#team-btn {
    margin-top: 2.4rem;
}

.check > i {
    color: #005bff;
}

.subscription-col-content hr {
    max-width: 3rem;
    margin: 2rem 0;
}

/* Section 2 */
.contact.small-container {
    border: 1px solid gray;
    margin-bottom: 2rem;
}

.contact.small-container > span {
    display: block;
    border-bottom: 1px solid gray;
    text-align: center;
}

.big-col {
    width: 60%;
    padding: 0 0 2rem 2rem;
}

.contact p {
    margin-top: 5rem;
}

.small-col {
    width: 40%;
}

.contact .btn {
    margin: 2rem 5rem;
}

/* Section 3 */
.partner img {
    max-width: 85%;
    text-align: center;
}

.partner .btn {
    margin: 5rem 15rem 0 0;
}

/* Section 4 */
.functionality.small-container {
    padding: 2rem 0;
}

.functionality.row {
    margin-top: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: .5rem;
}

.functionality .card {
    width: 30%;
}

.functionality .card > p {
    font-size: .8rem;
}


.functionality .card img {
    max-height: 15rem;
}

.functionality-bottom-text {
    width: 60%;
    margin: 8rem 0 3rem;
}

.functionality-bottom-text > h2 {
    margin-bottom: 3rem;
}

/* Section 5 */

.members {
    display: flex;
    /* debug */
    height: 32vw;
}

.members-side-col {
    width: 32vw;
    display: flex;
    flex-wrap: wrap;
    /* debug */
    background-color: green;
}

.members-main-col {
    width: 36vw;
    /* debug */
    background-color: coral;
}

.members-side-col > .square {
    height: 50%;
    width: 50%;
    background-color: brown;
    border: 1px solid black;
}

/* Section 6 */

.try-free {
    /* debug */
    background-color: #b4d0e7;
    padding: 2rem 0;
}

/* Section 7 */

.answer {
    padding: 2rem 0;
}

.answer.small-container > .content {
    /* debug */
    background-color: bisque;
    height: 15rem;
}

/* FOOTER */

footer {
    background-color: #111;
}

footer > .big-container {
    display: flex;
    padding: 2rem 0;
}

footer .footer-col {
    width: 20%;
    /* debug */
    height: 25rem;
    border: 1px solid white;
}