/* GENERICS */
body {
    font-family: 'Open Sans' , sans-serif;
}

/* HEADER */
.header-nav {
    background-color: #fff;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3b3b3b;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-nav a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 4rem;
    line-height: 4rem;
}

.header-nav a:hover {
    border-bottom: 2px solid black;
}

.nav-col {
    display: flex;
    align-items: center;
}

.right.nav-col {
    justify-content: flex-end;
}

.header-nav ul > li {
    display: inline-block;
    margin: 0 .8rem;
}

.left.nav-col > img {
    margin: 0 .6rem 0 .8rem;
}

.jumbotron {
    background-color: #b4d0e7;
    padding: 10rem 2rem 2rem;
    margin-bottom: 3rem;
}

.jumbotron > .big-container {
    max-height: 38rem; 
}

.jumbotron h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 1.5rem 0;
}

.jumbotron-bottom {
    display: flex;
}

.jumbotron-bottom > .jumbotron-small-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 15rem;
}

.jumbotron-bottom p,
.jumbotron-bottom span {
    font-size: .8rem;
}

.jumbotron-bottom .jumbotron-small-col > a {
    font-size: 2.5rem;
    margin-top: auto;
    padding-bottom: 5rem;
    color: black;
}

/* MAIN */

/* Section 1 */
.subscription.small-container {
    padding: 3rem 0;
}

.subscription .payment {
    display: inline-block;
    color: #3b3b3b;
    margin: 1rem 2rem 2rem 0;
}

.circle {
    display: inline-block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    cursor: pointer;
}

.unclicked.circle {
    border: 2px solid lightgray;
}

.clicked.circle {
    border: 4px solid #005bff;
}

.subscription.row {
    justify-content: space-between;
}

.subscription-col {
    width: 30%;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

.subscription-col-title {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.subscription-col-content {
    display: flex;
    flex-direction: column;
    padding: 3rem .8rem;
    gap: 1rem;
}

.light-text {
    color: lightgray;
}

.subscription-col ul {
    list-style-type: none;
}

.subscription-col ul > li {
    padding: .4rem 0;
}

.subscription-col .btn {
    margin: 1rem 2rem;
}

/* ALLINEO BOTTONI */

#single-btn {
    margin-top: 3.8rem;
}

#team-btn {
    margin-top: 2.4rem;
}

.check > i {
    color: #005bff;
}

.subscription-col-content hr {
    max-width: 3rem;
    margin: 2rem 0;
}

/* Section 2 */
.contact.small-container {
    border: 1px solid gray;
    margin-bottom: 2rem;
}

.contact.small-container > span {
    display: block;
    border-bottom: 1px solid gray;
    text-align: center;
}

.big-col {
    width: 60%;
    padding: 0 0 2rem 2rem;
}

.contact p {
    margin-top: 5rem;
}

.small-col {
    width: 40%;
}

.contact .btn {
    margin: 2rem 5rem;
}

/* Section 3 */
.partner img {
    max-width: 85%;
    text-align: center;
}

.partner .btn {
    margin: 5rem 15rem 0 0;
}

/* Section 4 */
.functionality.small-container {
    padding: 2rem 0;
}

.functionality.row {
    margin-top: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: .5rem;
}

.functionality .card {
    width: 30%;
}

.functionality .card > p {
    font-size: .8rem;
}


.functionality .card img {
    max-height: 15rem;
}

.functionality-bottom-text {
    width: 60%;
    margin: 8rem 0 3rem;
}

.functionality-bottom-text > h2 {
    margin-bottom: 3rem;
}

/* Section 5 */
.members {
    display: flex;
}

.members-col.side-col {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.members-col.main-col {
    width: 40%;
    background-color: #F5F5F5;
    padding: 3rem;
}

.members-col.main-col > img {
    width: 60%;
}

.members-col.main-col > hr {
    width: 20%;
    margin: 2rem 0;
}

.members-col.main-col > p {
    margin-bottom: 2rem;
}

.square-logo {
    width: 50%;
    height: calc(100vw / 3 / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-logo > img {
    width: 50%;
    filter: invert(1);
}

/* Logo Colors */
#bg-designit {
    background-color: #A2D39B;
    border: 15px solid #D1E9CD;
}

#bg-arizona {
    background-color: #61082B;
}

#bg-florida {
    background-color: #0093CE;
}

#bg-topps {
    background-color: #FF1C1C;
}

#bg-bicycle {
    background-color: #D5001F;
}

#bg-hearts {
    background-color: #B4D0E7;
}

#bg-lonely {
    background-color: #0D2481;
}

#bg-channel {
    background-color: #FFD830;
}

/* Section 6 */
.try-free {
    background-color: #b4d0e7;
}

.try-free .row {
    align-items: center;
    padding: 3rem 0;
}

.try-free .big-col {
    padding: 0;
    color: #61082B;
}

.try-free .small-col {text-align: center;}

.try-free .btn {
    border: none;
    margin-bottom: 3rem;
    padding: .5rem 3rem;
}

/* Section 7 */
.answer {
    padding: 2rem 0;
    margin: 5rem auto;
}

.answer div {
    padding: 1.5rem 0;
}

.answer h2 {
    padding-bottom: 2rem;
}

.answer-row > a {
    margin-left: 22rem;
    color: black;
}

.answer-border {
    border-bottom: 1px solid lightgray;
}

.answer p {
    max-width: 80%;
    margin-top: 1rem;
    display: none;
}

.answer div:hover > p {
    display: block;
}

.answer .icon-hover {
    display: none;
}

.answer div:hover > .icon-view {
    display: none;
}

.answer div:hover > .icon-hover {
    display: inline-block;
}

/* FOOTER */

footer {
    background-color: #111;
    padding-top: 2rem;
}

footer  .footer-top {
    display: flex;
    padding: 3rem 0;
}

footer .footer-col {
    width: 20%;
    color: white;
    min-width: 15rem;
}

footer ul {
    list-style-type: none;
    margin-top: 2rem;
}

footer ul > li {
    margin: 1rem 0;
}

footer ul  a {
    color: white;
    text-decoration: none;
}

footer hr {
    width: 10%;
}

.footer-bottom {
    color: gray;
    padding: 2rem 0;
}

footer .language::after {
    content: '\25B4';
}

